body {
    background-color: rgb(152, 219, 228);
  }
  
  #inn {
    width: 250px;
    height: 250px;
  }
  #bag {
    width: 250px;
    height: 250px;
  }
  #dagger {
    width: 250px;
    height: 250px;
  }
  